@import url("components/button.css");

body {
  margin: 0;
}

.banner {
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.banner-content {
  margin: 0 auto;
}

.banner-content h1 {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: lighter;
  font-size: 50px;
  text-align: center;
}

.dropdown-content {
  display: none;
}

/* Projects section styling */

.projects-search {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  min-height: 55vh;
}

.projects-search ul {
  position: relative;
  margin: 0 auto;
  right: 16px;
}

ul li a {
  text-decoration: none !important;
  color: black;
}

.projects-search h1 {
  line-height: 1.5 !important;
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.search-input {
  margin-bottom: 38px;
  align-self: center !important;
  text-align: center;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.search input {
  width: 250px;
  height: 32px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 3 3 3px #f12b6b;
  font-size: 15px;
}

.search input { text-indent: 32px;}
.search .fa-search {
  position: absolute;
  top: 9px;
  left: 10px;
}

.arrow {
  position: absolute;
  right: 49%;
  bottom: 12px;
  align-self: flex-end !important;
  text-align: center;
  color: #f12b6b;
  font-size: 45px;
}


.flex-thirds {
  display: flex;
  justify-content: space-between;
  min-height: 50vh;
  margin: 48px 30px 50px 30px;
}

.flex-thirds .col {
  width: 32%;
  background: #f6f6f6;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

.col header {
  padding-top: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  color: #f12b6b;
}

.col p {
  padding-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-align: justify;
  line-height: 1.5;
}

@media only screen and (max-device-width: 600px) {
  .banner-content h1 {
    font-size: 65px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: lighter;
  }

  .search input {
    margin-top: 68px;
    width: 600px;
    height: 75px;
    font-size: 30px;
    border-radius: 3px;
    }

  .search input { text-indent: 55px;}
  .search .fa-search {
    position: absolute;
    top: 91px;
    left: 14px;
    font-size: 31px;
  }

  .arrow {
    font-size: 98px;
  }

  .banner {
    margin-bottom: 35px;
  }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {


  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  .dropdown-content {
   height: 250px;
   width: 250px;
   background-color: rgb(234, 240, 245);
   position: absolute;
   /*align-self: flex-end;*/
   right: 0px;
   top: 72.39px;
   border-radius: 3px;
   box-shadow: 0 9px 2px rgba(0,0,0,0.25),0 0 1px transparent !important;
   z-index: 1;
  }

   .dropdown-content a {
    padding: 28px 20px 23px 18px;
    display: block;
    font-size: 36px;
  }

  .list-icon {
    text-decoration: none;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    border-top: 1 px solid #000000;
    font-size: 34px;
  }

  .fas {
    color: #f12b6b;
  }

  .flex-thirds {
    display: block;
    margin: 0;
    width: 100%;
    max-height: 45vh;
    overflow: scroll;
  }

  .flex-thirds .col {
    width: 100%;
    padding: 20px 50px 10px 50px;
  }

  .col header {
    padding-top: 20px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width: 1024px) {
  .flex-thirds {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }

  .flex-thirds .col {
    flex-basis: 48%;
    margin: 0px 9px 20px 9px;
    background: #f6f6f6;
    padding: 30px;
  }

  .banner {
    margin-bottom: 30px;
  }

  .col p {
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-align: justify;
    line-height: 1.5;
  }

  .col header {
    font-size: 29px;
    padding-top: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: #f12b6b;
  }
}




