.btn-search {
  text-decoration: none;
  background-color: #f12b6b;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}

.btn-search:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
