.pink-button {
  align-self: center !important;
}

.btn-search {
  text-decoration: none;
  background-color: #f12b6b;
  padding: 8px 20px;
  color: white;
  border-radius: 3px;
}

a.btn-search {
  width: 120px;
  height: 36px;
}

.btn-search:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.pink-button a {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

@media only screen and (max-device-width: 600px) {
  .pink-button {
    padding-top: 42px;
  }

  .btn-search {
    border-radius: 3px;
  }

  a.btn-search {
/*    width: 200px;
    height: 79px;*/
    padding: 18px 130px;
  }

  .pink-button a {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
  }
}
