.pink-button {
  align-self: center !important;
}

.btn-search {
  text-decoration: none;
  background-color: #f12b6b;
  padding: 8px 20px;
  color: white;
  border-radius: 3px;
}

.btn-search:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.pink-button a {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}


@media only screen and (max-device-width: 600px) {
  .pink-button {
    padding-top: 42px;
  }

  .btn-search {
    border-radius: 3px;
  }

  a.btn-search {
/*  width: 200px;
    height: 79px;*/
    padding: 18px 130px;
  }

  .pink-button a {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
  }
}


/* Second pink cta */


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .second-cta {
    display: flex;
    justify-content: center;
  }

  .second-cta .btn-project {
    text-decoration: none;
    background-color: #f12b6b;
    padding: 15px 20px;
    color: white;
    border-radius: 3px;
  }

  .second-cta a.btn-project {
/*  width: 200px;
    height: 79px;*/
    padding: 35px 130px;
    width: 581px;
    height: 130px;
    margin-bottom: 40px;
  }

  .second-cta a {
    font-family: 'Raleway', sans-serif;
    font-size: 46px;
    font-weight: bolder;
    text-align: center;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .second-cta {
    display: flex;
    justify-content: center;
    padding-top: 42px;
  }

  .second-cta .btn-project {
    text-decoration: none;
    background-color: #f12b6b;
    padding: 15px 20px;
    color: white;
    border-radius: 3px;
  }

  .second-cta a {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
  }

  .second-cta a.btn-project {
    width: 455px;
    height: 104px;
    margin-bottom: 40px;
    padding: 24px 83px;
  }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  .second-cta {
    display: flex;
    justify-content: center;
  }

  .second-cta a {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
  }

  .second-cta .btn-project {
    text-decoration: none;
    background-color: #f12b6b;
    padding: 15px 20px;
    color: white;
    border-radius: 3px;
  }

  .second-cta a.btn-project {
    width: 230px;
    height: 50px;
    margin-bottom: 40px;
  }
}
