@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .cards {
    display: block;
    /*padding-top: 70px;*/
  }
}


@media only screen and (min-device-width: 768px) {

  .card {
    height: 300px;
    width: 200px;
    background-size: cover !important;
    background-position: center center;
    padding-top: 5px;
  }

  .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 40px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
  }
}

