/* Projects section styling */

#header {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  color: #dc426c;
  text-align: center;
}

#list {
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  /*line-height: 1.5;*/
}

ul li a {
  text-decoration: none !important;
  color: black;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin-bottom: 35px;
}


@media only screen and (min-device-width: 768px) {

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    padding-top: 35px;
  }

/*  .project {
    flex: 0 0 16%;
    padding-bottom: 20px;
  }*/
/*
  .hidden {
    display: none !important;
    flex: 0 0 0% !important;
  }*/

  .card {
    height: 300px;
    width: 200px;
    background-size: cover !important;
    background-position: center center;
    padding-top: 5px;
  }

  .card-description {
    font-size: 18px;
    margin-top: 0.8vh;
    display: flex;
    align-items: center;
    padding-bottom: 2.2vh;
  }

  .card:hover {
    opacity: 0.5;
    background-color: white;
    transition: 0.3s;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  .container {
    display: block;
    padding-top: 2vh;
  }

  #header {
    font-family: 'Raleway', sans-serif;
    font-size: 5em;
    color: #dc426c;
    text-align: center;
}

  .card {
    min-height: 1000px;
    width: 90%;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .card-description {
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 6vh;
    margin-top: 1.6vh;
  }
}
