#navbar {
  background-color: transparent;
  color: #fff;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  padding: 2% 0 1% 0;
  z-index: 1;
  top 0;
}

/* 1. class for white navbar */
#navbar.white {
  background-color: rgb(234, 240, 245);
  transition: all ease .5s;
}


#navbar-flexbox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /*align-items: center;*/
}

.web-logo {
  width: 270px;
  height: 39px;
  margin-left: 34px;
}

.right-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

#nav-item-1, #nav-item-2 {
  margin: 0px 34px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #dc426c;
  opacity: 1 !important;
  padding-top: 12%;
}

h1 {
  margin-top: 0;
  line-height: 3;
}

#main-body {
  padding: 5px 25px;
}

#footer {
  background-color: #0f0;
}

#hero-arrow {
  line-height: 5;
}

.right-nav a {
  text-decoration: none;
}

.hamburger {
  display: none;
  color: black;
}

.dropdown-content {
  display: none;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  #nav-item-1, #nav-item-2 {
    display: none;
  }

  .hamburger {
    float: right;
    display: block;
    margin-right: 34px;
    font-size: 34px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 250px;
    height: 250px
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
  }

  .show {display: block;}
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width: 1024px) {
  .web-logo {
    width: 316px;
    height: 50px;
    margin-left: 34px;
  }

  #nav-item-1, #nav-item-2 {
    margin: 0px 34px;
    font-family: 'Raleway', sans-serif;
    font-size: 33px;
    padding-top: 20px;
    color: #dc426c;
  }

}

